html {
	background-color: #EAEAEA;
}

body {
	font-family: "Segoe UI", arial, helvetica, clean, sans-serif;
	width: 99%;
}

/* =====================================
	header
*/
.site-header {
	width: 100%;
	padding: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.site-header>div {
	margin: 10px;
	background-color: #48748E;
	color: white;
	padding: 20px;
	border-radius: 10px;
}

.site-header h2 {
	display: inline;
	font-size: 167%;
}

.site-header span {
	float: right;
}

/* =====================================
	input text box
*/
.site-input {
	padding: 5px;
	padding-left: 15px;
	font-size: 116%;
	border-radius: 10px;
	border-width: 1px;
}

/* =====================================
	bread crumb
*/
.site-breadcrumb {
	font-size: 80%;
	color: gray;
}

/* =====================================
	float left and right
*/
.site-right {
	float: right;
}

.site-left {
	float: left;
}

/* =====================================
	caption
*/
.site-caption {
	padding-bottom: 15px;
	padding-left: 5px;
	font-size: 182%;
}

.site-list-table caption {
	padding-top: 13px;
	text-align: left;
}

div.site-caption {
	padding-top: 23px;
	margin-bottom: -7px;
}

/* =====================================
	table
*/
.site-table {
	width: 100%;
}

.site-table th,.site-table td {
	text-align: left;
	padding: 10px;
	font-weight: normal;
	border-color: #B1B1B1;
}

.site-table th {
	background-color: #C3C3C3;
}

.site-table td {
	background-color: white;
}

#tabs-branchreleases .site-table {
	margin-top: 10px;
}

/* =====================================
	list table
*/
.site-list-table .site-button-col {
	width: 50px;
}

/* =====================================
	deliverables table
*/
.site-deliverables-table {
	table-layout: fixed;
}

.site-deliverables-table td {
	vertical-align: top;
	padding-top: 18px;
	padding-bottom: 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	overflow: hidden;
}

/* =====================================
	searcher
*/
#tabs-branchfeatures .site-searcher {
	position: relative;
	top: -65px;
}

/* =====================================
	button
*/
.site-button {
	background-color: #3290CC;
	color: white;
	font-size: 13px !important;
}

.site-button-retry {
	display: inline-block;
	background: url("../images/hp_sprite.png") -27px -80px;
	width: 26px;
	height: 32px;
	cursor: pointer;
}

.site-tooltip-icon {
	display: inline-block;
	background: url("../images/hp_sprite.png") -52px -80px;
	width: 26px;
	height: 32px;
	margin: 0 5px;
}

.site-deliverables-table .site-button-retry,.site-deliverables-table .site-tooltip-icon
	{
	margin-top: -10px;
}

.site-button-edit {
	background: url("../images/hp_sprite.png") -284px -81px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.site-deliverables-table .site-button-edit {
	margin-top: -10px;
	margin-left: 2px;
}

/* =====================================
	paginator
*/
.site-paginator input {
	padding: 3px 8px;
}

.site-paginator a {
	color: #B4C0D3 !important;
	text-decoration: none;
	font-size: 14px;
}

.site-paginator a:hover,.site-paginator a.active {
	color: black !important;
	text-decoration: underline;
}

/* =====================================
	form
*/
.site-form {
	font-size: 116%;
}

.site-form label {
	display: inline-block;
	width: 150px;
	color: #9694A2;
	margin: 10px;
}

/* =====================================
	site paddings
*/
.site-margin-l {
	margin-left: 5px;
}

/* =====================================
	count
*/
.site-count {
	border: 1px #9E9E9E solid;
	padding: 1px 8px;
	border-radius: 30px;
	background-color: #EBEBEB;
}

.site-deliverables-table .site-count {
	margin-top: -2px;
}

/* =====================================
	status
*/
.site-status-ready {
	color: #32BF37;
}

.site-status-failed {
	color: #AE1C6E;
}