* {
	font-family: "Segoe UI", verdana, arial, helvetica, sans-serif;
}

input {
	font-family: "Segoe UI", verdana, arial, helvetica, sans-serif
		!important;
}

body {
	margin: 0px;
	margin-bottom: 250px !important;
	background-color: #EAEAEA;
	font-size: 15px;
}

table {
	border-spacing: 0;
	border-left: 1px solid #B1B1B1;
	border-bottom: 1px solid #B1B1B1;
}

table td,table th {
	border-top: 1px solid #B1B1B1;
	border-right: 1px solid #B1B1B1;
	padding: 5px 10px;
	font-weight: normal;
	text-align: left;
	background-color: white;
}

table th {
	background-color: #C3C3C3;
}

input[type="button"],input[type="submit"] {
	font-size: 11pt;
	padding: 5px 15px;
	background-color: #B5B6B8;
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	border-radius: 5px;
	border-width: 1px;
}

.sitesubmit {
	float: right;
}

.sitesubmit input[type="button"] {
	background-color: #3290CC;
	padding: 15px 25px;
}

.sitecancel {
	background-color: #585858 !important;
}

input[type="text"] {
	padding: 5px;
	padding-left: 15px;
	font-size: 11pt;
	border-radius: 10px;
	border-width: 1px;
}

select {
	padding: 5px;
	font-size: 11pt !important;
	border-radius: 10px;
	border-width: 1px;
	border-color: #A6A6A6;
}

.siteheader {
	padding: 5px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.siteheader>div {
	margin: 10px;
	background-color: #48748E;
	color: white;
	padding: 20px;
	border-radius: 10px;
}

.siteheader h2 {
	display: inline;
}

.siteheader span {
	float: right;
}

.sitebreadcrumb {
	font-size: 8pt;
	color: gray;
}

.paginator input[type="button"] {
	padding: 3px 8px;
}

.paginator input[type="button"][disabled] {
	background-color: #DDDDDE;
	cursor: auto;
}

.paginator a {
	color: #B4C0D3 !important;
	text-decoration: none;
	font-size: 14px;
}

.paginator a:hover,.paginator a.active {
	color: black !important;
	text-decoration: underline;
}

.searchfeature {
	float: right;
	position: relative;
	top: -75px;
}

.searchfeature input[type="text"] {
	width: 200px !important;
}

.searchfeature input[type="image"] {
	position: relative;
	left: -40px;
	top: 4px;
}

table.featurelist {
	width: 100%;
}

table.featurelist caption,.caption {
	text-align: left;
	padding-bottom: 15px;
	padding-left: 5px;
	font-size: 26px;
}

.caption {
	padding-top: 13px;
}

.count {
	border: 1px #9E9E9E solid;
	padding: 1px 8px;
	border-radius: 30px;
	background-color: #EBEBEB;
}

table.featurelist input[type="button"] {
	float: right;
}

table.featurelist td input[type="button"] {
	background-color: #3290CC;
}

table.featurelist .last-child {
	width: 50px;
}

table.featurelist tfoot td {
	text-align: right;
	background-color: transparent;
	border: none;
}

#tabs-branchfeatures .paginator {
	float: right;
	padding-top: 15px;
}

#brancheTabs label {
	display: inline-block;
	width: 150px;
	font-size: 15px;
	color: #9694A2;
	margin: 10px;
}

#brancheTabs input[type="text"] {
	width: 300px;
}

#brancheTabs select {
	width: 320px;
	position: relative;
	left: -5px;
}

table.deliverables,table.integrationedit {
	width: 100%;
	table-layout: fixed;
}

table.integrationedit td {
	vertical-align: top;
	padding-top: 8px;
}

table.deliverables td {
	vertical-align: top;
	padding-top: 8px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

table.deliverables .locations span {
	display: inline-block;
	color: #9694A2;
	width: 60px;
}

table.deliverables .count {
	float: right;
}

table.deliverables .integrationeditbtn {
	background: url("../images/hp_sprite.png") -284px -81px;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

div.failedstatus {
	display: inline-block;
	background: url("../images/hp_sprite.png") -52px -80px;
	width: 26px;
	height: 32px;
}

div.retry {
	display: inline-block;
	background: url("../images/hp_sprite.png") -27px -80px;
	width: 26px;
	height: 32px;
	cursor: pointer;
}

table.deliverables div.failedstatus,table.deliverables div.retry {
	margin-top: -6px;
	margin-left: 5px;
	float: right;
}

.failedstatus {
	color: #AE1C6E;
}

.readystatus {
	color: #32BF37;
}

input[type="button"].editdeliverables {
	width: 120px;
	float: right;
	position: relative;
	top: -5px;
}

#tabs-branchintegrations input[type="button"] {
	float: right;
	background-color: #3290CC;
	position: relative;
	top: -5px;
}

table.deliverableedit {
	width: 100%;
}

table.deliverableedit label,table.integrationedit label {
	width: 50px !important;
}

table.deliverableedit input[type="text"] {
	width: 470px !important;
}

table.deliverableedit td {
	vertical-align: top;
}

#brancheTabs table.developers {
	width: 100%;
}

table.deliverableedit table.developers td {
	height: 30px;
}

table.deliverableedit table.developers .access {
	color: #9694A2;
}

table.deliverableedit table.developers .addaccess,table.deliverableedit table.developers .removeaccess
	{
	display: inline-block;
	width: 26px;
	height: 26px;
	float: right;
	cursor: pointer;
}

table.deliverableedit table.developers .addaccess {
	background: url("../images/hp_sprite.png") -27px -85px;
}

table.deliverableedit table.developers .removeaccess {
	background: url("../images/hp_sprite.png") -1px -85px;
}

.branchfailed {
	width: 250px;
	background-color: white !important;
	border-radius: 5px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
	padding: 10px !important;
}

.branchfailed h3 {
	font-size: 8pt;
	font-weight: normal !important;
}